#include <windows.h>

#include <ntverp.h>

#define	VER_FILETYPE	VFT_DRV
#define	VER_FILESUBTYPE	VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "Sample My Driver"
#define VER_INTERNALNAME_STR        "MyDrv.sys"

#include "common.ver"
